/* scss/readme/_settings.scss */
/* scss/readme/_sidebars.scss */
/* scss/readme/_reset.scss */
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* scss/variables/_Colors.scss */
:root {
  --color-primary: #DE6028;
  --color-secondary: #022160;
  --color-success: #7FC33C;
  --color-info: #DE6028;
  --color-warning: #F0C947;
  --color-error: #6E2708;
  --color-white: #ffffff;
  --color-black: #191919;
  --color-light: #F5F5F5;
  --color-dark: #3B3B3B;
  --color-marker: #FFFF00;
  --color-link: #DE6028;
  --color-link-hover: #a14319;
}

/* scss/variables/_Spaces.scss */
/* scss/variables/_Sizes.scss */
/* scss/variables/_Links.scss */
/* scss/mixins/_font-family.scss */
/* scss/mixins/_section-headline.scss */
/* scss/helper/_Colors.scss */
.bg--primary {
  background: var(--color-primary);
}

.color--primary {
  color: var(--color-primary);
}

.bg--secondary {
  background: var(--color-secondary);
}

.color--secondary {
  color: var(--color-secondary);
}

.bg--success {
  background: var(--color-success);
}

.color--success {
  color: var(--color-success);
}

.bg--info {
  background: var(--color-info);
}

.color--info {
  color: var(--color-info);
}

.bg--warning {
  background: var(--color-warning);
}

.color--warning {
  color: var(--color-warning);
}

.bg--danger {
  background: var(--color-error);
}

.color--danger {
  color: var(--color-error);
}

.bg--light {
  background: var(--color-light);
}

.color--light {
  color: var(--color-light);
}

.bg--dark {
  background: var(--color-dark);
}

.color--dark {
  color: var(--color-dark);
}

.bg--white {
  background: var(--color-white);
}

.color--white {
  color: var(--color-white);
}

.bg--black {
  background: var(--color-black);
}

.color--black {
  color: var(--color-black);
}

.bg--mark {
  background: var(--color-marker);
}

.color--mark {
  color: var(--color-marker);
}

/* scss/helper/_Spaces.scss */
.margin__bottom--none {
  margin-bottom: 0;
}

.margin__top--none {
  margin-top: 0;
}

.padding--none {
  padding: 0;
}

.padding__left-right--none {
  padding-left: 0;
  padding-right: 0;
}

.padding__top-bottom--none {
  padding-top: 0;
  padding-bottom: 0;
}

.margin__bottom--extra-small {
  margin-bottom: 0.25rem;
}

.margin__top--extra-small {
  margin-top: 0.25rem;
}

.padding--extra-small {
  padding: 0.25rem;
}

.padding__left-right--extra-small {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.padding__top-bottom--extra-small {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.margin__bottom--small, .menu__list, .tag-list {
  margin-bottom: 0.5rem;
}

.margin__top--small {
  margin-top: 0.5rem;
}

.padding--small {
  padding: 0.5rem;
}

.padding__left-right--small {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padding__top-bottom--small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.margin__bottom--medium, .list--numbered, .list--dots, .hl-5, .hl-4 {
  margin-bottom: 1rem;
}

.margin__top--medium, .list--numbered, .list--dots {
  margin-top: 1rem;
}

.padding--medium {
  padding: 1rem;
}

.padding__left-right--medium {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding__top-bottom--medium {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.margin__bottom--large, .hl-3, .menu-link, .menu__list-item span, .button, .hl-2, .hl-1, .tag {
  margin-bottom: 1.5rem;
}

.margin__top--large {
  margin-top: 1.5rem;
}

.padding--large {
  padding: 1.5rem;
}

.padding__left-right--large {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.padding__top-bottom--large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.margin__bottom--extra-large {
  margin-bottom: 3rem;
}

.margin__top--extra-large {
  margin-top: 3rem;
}

.padding--extra-large {
  padding: 3rem;
}

.padding__left-right--extra-large {
  padding-left: 3rem;
  padding-right: 3rem;
}

.padding__top-bottom--extra-large {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* scss/helper/_Grid.scss */
.flex-row {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* scss/helper/_Sizes.scss */
.height--25 {
  height: 25%;
}

.width--25 {
  width: 25%;
}

.height--50 {
  height: 50%;
}

.width--50 {
  width: 50%;
}

.height--75 {
  height: 75%;
}

.width--75 {
  width: 75%;
}

.height--100 {
  height: 100%;
}

.width--100 {
  width: 100%;
}

.height--auto {
  height: auto;
}

.width--auto {
  width: auto;
}

/* scss/atoms/_Typographie.scss */
:root {
  --headline-font-size: 30px;
  --headline-line-height: 26px;
  --headline-color: var(--color-black);
}

body {
  font-size: 17px;
}

.section-headline {
  position: relative;
  min-width: 150px;
  max-width: calc( 100% + 50px);
}
.section-headline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: var(--color-black);
}
.section-headline span {
  position: relative;
}
.section-headline span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
  background: var(--color-black);
}

.hl-5, .hl-4, .hl-3, .menu-link, .menu__list-item span, .button, .hl-2, .hl-1, .tag {
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
  color: var(--headline-color);
}

.hl-1, .tag {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.hl-1 strong, .tag strong, .hl-1 b, .tag b {
  font-weight: 400;
}
.hl-1 em, .tag em, .hl-1 i, .tag i {
  font-style: italic;
}

.hl-2 {
  --headline-font-size: 24px;
  --headline-line-height: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.hl-2 strong, .hl-2 b {
  font-weight: 400;
}
.hl-2 em, .hl-2 i {
  font-style: italic;
}

.hl-3, .menu-link, .menu__list-item span, .button {
  --headline-font-size: 15px;
  --headline-line-height: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
.hl-3 strong, .menu-link strong, .menu__list-item span strong, .button strong, .hl-3 b, .menu-link b, .menu__list-item span b, .button b {
  font-weight: 300;
}
.hl-3 em, .menu-link em, .menu__list-item span em, .button em, .hl-3 i, .menu-link i, .menu__list-item span i, .button i {
  font-style: italic;
}

.hl-4 {
  --headline-font-size: 17px;
  --headline-line-height: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.hl-4 strong, .hl-4 b {
  font-weight: 300;
}
.hl-4 em, .hl-4 i {
  font-style: italic;
}

.hl-5 {
  --headline-font-size: 17px;
  --headline-line-height: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.hl-5 strong, .hl-5 b {
  font-weight: 500;
}
.hl-5 em, .hl-5 i {
  font-style: italic;
}

:root {
  --text-font-size: 16px;
  --text-line-height: 20px;
  --texte-color: var(--color-black);
}

.p, .list--numbered li, .list--dots li, code, .code, samp, .samp, .output, mark, .mark, sub, sup {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  color: var(--texte-color);
}
.p strong, .list--numbered li strong, .list--dots li strong, code strong, .code strong, samp strong, .samp strong, .output strong, mark strong, .mark strong, sub strong, sup strong, .p b, .list--numbered li b, .list--dots li b, code b, .code b, samp b, .samp b, .output b, mark b, .mark b, sub b, sup b {
  font-weight: 400;
}
.p em, .list--numbered li em, .list--dots li em, code em, .code em, samp em, .samp em, .output em, mark em, .mark em, sub em, sup em, .p i, .list--numbered li i, .list--dots li i, code i, .code i, samp i, .samp i, .output i, mark i, .mark i, sub i, sup i {
  font-style: italic;
}

sub, sup {
  --text-font-size: 0.8rem;
  position: relative;
}

sub {
  top: 0.4rem;
}

sup {
  top: -0.4rem;
}

mark, .mark {
  background-color: var(--color-marker);
  color: var(--color-black);
}

code, .code, samp, .samp, .output {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}
code strong, code b, .code strong, .code b, samp strong, samp b, .samp strong, .samp b, .output strong, .output b {
  font-weight: 400;
}
code em, code i, .code em, .code i, samp em, samp i, .samp em, .samp i, .output em, .output i {
  font-style: italic;
}

/* scss/atoms/_Colors.scss */
.styleguide-box {
  width: 80px;
  height: 80px;
}
.styleguide-box--small {
  width: 50px;
  height: 50px;
}

/* scss/atoms/_Buttons.scss */
:root {
  --button-color: #DE6028;
  --button-border:#DE6028;
  --button-border-hover: #DE6028;
  --button-background-color: transparent;
  --button-background-color-hover: rgba(0,0,0,0.03);
}

.button {
  padding: 5px 10px 5px 10px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: background 0.2s ease;
  border: none;
  color: var(--button-color);
  background: var(--button-background-color);
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  border: 1px solid var(--button-border);
  border-right: 0 !important;
  left: 0;
}
.button:after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  border: 1px solid var(--button-border);
  border-left: 0 !important;
  right: 0;
}
.button:focus {
  outline: none;
}
.button:before, .button:after {
  border: 1px solid var(--button-border);
}
.button:hover {
  background: var(--button-background-color-hover);
}
.button:hover:before, .button:hover:after {
  border: 1px solid var(--button-border-hover);
}
.button.disabled, .button:disabled {
  --button-color: #7C7C7C;
  --button-border:#7C7C7C;
  --button-border-hover: #7C7C7C;
  --button-background-color: transparent;
  --button-background-color-hover: transparent;
  border: none;
  cursor: default;
}
.button.disabled:hover, .button:disabled:hover {
  cursor: default;
}
.button--primary {
  --button-color: var(--color-black);
  --button-border: var(--color-black);
  --button-border-hover: var(--color-primary);
}
.button--secondary {
  --button-color: var(--color-dark);
  --button-border: var(--color-dark);
  --button-border-hover: var(--color-secondary);
}

/* scss/atoms/_Links.scss */
.link, .tag {
  color: var(--color-link);
  text-decoration: none;
  display: inline;
}
.link:after, .tag:after {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease all;
}
.link:hover, .tag:hover {
  color: var(--color-link-hover);
}
.link:hover:after, .tag:hover:after {
  opacity: 1;
  visibility: visible;
}

.tag {
  --color-link: var(--text-color);
  --color-link-hover: var(--color-primary);
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.tag strong, .tag b {
  font-weight: 300;
}
.tag em, .tag i {
  font-style: italic;
}

.menu-link, .menu__list-item span {
  --color-link: inherit;
  --color-link-hover: inherit;
  text-decoration: none;
  border: none;
}
.menu-link:hover, .menu__list-item span:hover {
  text-decoration: none;
  border: none;
}

.tag {
  padding-left: 19px;
}
.tag:before {
  content: "#";
  position: absolute;
  left: 0;
}

/* scss/atoms/_Listen.scss */
.list--dots li {
  padding-left: 13px;
  position: relative;
}
.list--dots li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 3px;
  height: 1px;
  background: var(--color-secondary);
}

.list--numbered {
  counter-reset: list-counter;
}
.list--numbered li {
  counter-increment: list-counter;
}
.list--numbered li:before {
  content: counter(list-counter) ". ";
  color: var(--color-secondary);
}
.list--numbered li ol {
  margin-left: 10px;
}

.menu__list, .tag-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin-left: -20px;
}
.menu__list li, .tag-list li {
  margin-left: 20px;
}

/* scss/modules/_menu.scss */
.menu__list--sub-menu {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.menu__list-item {
  position: relative;
  position: relative;
  min-width: 150px;
  max-width: calc( 100% + 50px);
  min-width: auto;
}
.menu__list-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: var(--color-black);
}
.menu__list-item span {
  position: relative;
}
.menu__list-item span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
  background: var(--color-black);
}
.menu__list-item:before {
  transition: width 0.2s ease;
  width: 0;
}
.menu__list-item span:after {
  transition: width 0.2s ease;
  transition-delay: 0.1s;
  width: 0;
}
.menu__list-item:hover:before {
  width: 100%;
}
.menu__list-item:hover span:after {
  width: 25%;
}
.menu__list-item.current:before {
  background-color: var(--color-primary);
}
.menu__list-item.current span:after {
  transition-delay: 0.1s;
  width: 15%;
  background-color: var(--color-primary);
}
.menu__list-item.current > .menu__list--sub-menu {
  opacity: 1;
  visibility: visible;
  display: block;
}
.menu__list-item.current:hover span:after {
  width: 25%;
}

/* scss/jsExample/_clickme.scss */
.click {
  cursor: pointer;
  position: relative;
  left: 0;
  transition: left 0.25s;
  background: #ccf9bf;
  padding: 20px 40px;
  display: inline-block;
}

.clickAnimate {
  left: 80%;
}

/*# sourceMappingURL=main.css.map */
