/* scss/variables/_Colors.scss */
:root {
    --color-primary : #DE6028;
    --color-secondary: #022160;
    
    --color-success: #7FC33C;
    --color-info: #DE6028;
    --color-warning: #F0C947;
    --color-error: #6E2708;
    
    --color-white: #ffffff;
    --color-black: #191919;
    --color-light: #F5F5F5;
    --color-dark: #3B3B3B;
    --color-marker: #FFFF00;
    
    --color-link: #DE6028;
    --color-link-hover: #a14319;
}

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    var(--color-primary),
    "secondary":  var(--color-secondary),
    "success":    var(--color-success),
    "info":       var(--color-info),
    "warning":    var(--color-warning),
    "danger":     var(--color-error),
    "light":      var(--color-light),
    "dark":       var(--color-dark),
    "white":      var(--color-white),
    "black":      var(--color-black),
    "mark":       var(--color-marker)
  ),
  $theme-colors
);
