/* scss/atoms/_Buttons.scss */
:root {
    --button-color: #DE6028;
    --button-border:#DE6028;
    --button-border-hover: #DE6028;
    --button-background-color: transparent;
    --button-background-color-hover: rgba(0,0,0,0.03);
}
@mixin button-border {
    content: '';
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    border: 1px solid var(--button-border);
}

.button {
    padding: 5px 10px 5px 10px;
    display: inline-block;
    cursor: pointer;
    @extend .hl-3;
    position: relative;
    transition: background 0.2s ease;
    border: none;
    color: var(--button-color);
    background: var(--button-background-color);
    &:before {
        @include button-border;
        border-right: 0 !important;
        left: 0;
    }
    &:after {
        @include button-border;
        border-left: 0 !important;
        right: 0;
    }
    &:focus {
        outline: none;
    }
    &:before, &:after {
        border: 1px solid var(--button-border);
    }
    &:hover {
        background: var(--button-background-color-hover);
        &:before, &:after {
            border: 1px solid var(--button-border-hover);
        }
    }
    &.disabled, &:disabled {
        --button-color: #7C7C7C;
        --button-border:#7C7C7C;
        --button-border-hover: #7C7C7C;
        --button-background-color: transparent;
        --button-background-color-hover: transparent;
        border: none;
        cursor: default;
        &:hover {
            cursor: default;
        }  
    }
    
    
    &--primary {
        --button-color: var(--color-black);
        --button-border: var(--color-black);
        --button-border-hover: var(--color-primary);
    }
    
    &--secondary {
        --button-color: var(--color-dark);
        --button-border: var(--color-dark);
        --button-border-hover: var(--color-secondary);     
    }
}