/* scss/atoms/_Links.scss */
.link {
    color: var(--color-link);
    text-decoration: none;
    display: inline;
    &:after {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease all;
    }
    &:hover {
        color: var(--color-link-hover);
        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}

%link--thin {
    --color-link: var(--text-color);
    --color-link-hover: var(--color-primary);
    @extend .link;
    position: relative;
    @include font-family('Roboto', 'thin');
}

%clear-link {
    --color-link: inherit;
    --color-link-hover: inherit;
    text-decoration: none;
    border: none;
    &:hover {
        text-decoration: none;
        border: none;
    }
}

.tag {
    @extend .hl-1;
    @extend %link--thin;
    padding-left: 19px;
    &:before {
        content : '#';
        position: absolute;
        left: 0;
    }
}

.tag-list {
   @extend %list--inline-items;
}

.menu-link {
    @extend .hl-3;
    @extend %clear-link;
}