/* scss/atoms/_Listen.scss */
%list {
    @extend .margin__bottom--medium;
    @extend .margin__top--medium;
    li {
        @extend .p;
    }
}
.list--dots {
    @extend %list;
    li {
        padding-left: 13px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0.5em;
            width: 3px;
            height: 1px;
            background: var(--color-secondary);
        }
    }
    
} 

.list--numbered {
    @extend %list;
    counter-reset: list-counter;
     li {
        counter-increment: list-counter;
        &:before {
          content: counter(list-counter) ". ";
          color: var(--color-secondary);
        }
        ol {
         margin-left: 10px;   
        }
    }
}

%list--inline-items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-left: -20px;
    li {
        margin-left: 20px;
    }
    @extend .margin__bottom--small;
}