/* scss/atoms/_Typographie.scss */
:root {
    --headline-font-size: 30px;
    --headline-line-height: 26px;
    --headline-color: var(--color-black);
} 

body {
    font-size: 17px;
}

.section-headline {
    @include section-headline;
}

%hl {
    font-size: var(--headline-font-size);
    line-height: var(--headline-line-height);
    color: var(--headline-color);
}

.hl-1 {
    @include font-family('Roboto', 'light');
    @extend %hl;
    @extend .margin__bottom--large;
}

.hl-2 {
    --headline-font-size: 24px;
    --headline-line-height: 26px;
    @include font-family('Roboto', 'light');
    @extend %hl;
    @extend .margin__bottom--large;
}

.hl-3 {
    --headline-font-size: 15px;
    --headline-line-height: 22px;
    @include font-family('Roboto', 'thin');
    text-transform: uppercase;
    @extend %hl;
    @extend .margin__bottom--large;
}

.hl-4 {
    --headline-font-size: 17px;
    --headline-line-height: 19px;
    @include font-family('Roboto', 'thin');
    @extend %hl;
    @extend .margin__bottom--medium;
}

.hl-5 {
    --headline-font-size: 17px;
    --headline-line-height: 19px;
    @include font-family('Roboto', 'regular');
    @extend %hl;
    @extend .margin__bottom--medium;
}

:root {
    --text-font-size: 16px;
    --text-line-height: 20px;
    --texte-color: var(--color-black);
} 

.p {
   @include font-family('Roboto', 'light'); 
   font-size: var(--text-font-size);
   line-height: var(--text-line-height);
   color: var(--texte-color);
}

sub, sup {
    --text-font-size: 0.8rem;
    @extend .p;
    position: relative;
}

sub {
    top: 0.4rem;
}

sup {
    top: -0.4rem; 
}

mark, .mark {
    @extend .p;
    background-color: var(--color-marker);
    color: var(--color-black);
}

code, .code, samp, .samp, .output {
    @extend .p;
    @include font-family('Roboto Mono', 'light');  
}